<div class='home-page-contents'>
  <form action='/artist-search-results'>
    <input type='text' id='fname' name='artist' placeholder='Artist' /><br />
    <input
      id='submit-button'
      type='submit'
      value='Search for an artist...'
      action='/artist-search'
      method='GET'
    />
  </form>
</div>